<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>


<div class="container">
  <h3>Post</h3>
  <% my_chart = Post.created_by_day %>
  <!-- Post.group_by_day(:created_at).count // este se reemplaza y se pega en el modelo-->
  <%# my_chart = {"ejemplo1": 50, "ejemplo2": 30} %>
  <%= column_chart my_chart %>

</div>


<div class="container">
  <h3>Comment</h3>
  <% my_chart_comment = Comment.created_by_day %>


  <%= column_chart my_chart_comment %>


</div>
